.Apptext {
  color: aliceblue;
}
.container {
  text-align: center;
  padding: 2rem;
  min-height: 50vh;
  justify-content: center;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: linear-gradient(
    to right top,
    #1db9ff,
    #a2a0ff,
    #fb7ad4,
    #ff677a,
    #f48603
  );
  box-sizing: border-box;
  /* box-shadow: 25px 30px 30px rgba(5, 5, 5, 5.5); */
  border-radius: 10px;
}

button {
  margin: 10px;
  font-size: large;
  cursor: pointer;
  background: rgb(126, 126, 231);
  color: white;
  height: 40px;
  border-radius: 5px;
}
.btnReset {
  margin-top: 30%;
  color: white;
  background-color: black;
  width: 70%;
  border-radius: 5px;
}
